@using DL91;
@{
    ViewData["Title"] = "Related"+Model.relatedID;
    var TypeLst = ViewBag.TypeLst as List<DBType>;
    Layout = null;
}
@model DL91.Models.SearchViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/pager.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/IndexDB.js" asp-append-version="true"></script>
    <script src="~/js/cacheM3u8.js" asp-append-version="true"></script>
    <script src="~/js/postData.js" asp-append-version="true"></script>
    <style>
        @@media (min-width: 1596px) {
            #div-body-content {
                width: 1596px;
            }
        }

        body {
            padding-top: 10px;
        }

        input[type=checkbox].form-control {
            width: 24px;
        }
    </style>
    <script>
        var GetImgURL = '@Url.Action("GetImg", "Home")';
        var IndexForAjaxUrl = '@Url.Action("IndexForAjax", "Home")';
        var BuildTime = '@DL91Web8.Helpers.VersionHelper.CompileTime';
        var baseUrl = window.location.origin + '@Url.Content("~/")';
    </script>
    <script src="~/js/ajaxpager/ajaxpager.js" asp-append-version="true"></script>
    <script>
        function onPageLoad() {
            window.scrollTo(0, 0);
        }
        function play(obj) {
            var id = $(obj).data('id');
            var title = $(obj).data('title');
            var filesize = $(obj).data('filesize');
            var ishd = $(obj).data('ishd');
            var islike = $(obj).data('islike');
            var url = $(obj).data('url');
            var createdate = $(obj).data('createdate');
            var time =  $(obj).data('time');

            var newHtml = '/play.html';
            switch ($('#selPlayer').val()) {
                case '1': newHtml = '/play.html'; break;
                case '2': newHtml = '/play2.html'; break;
                case '3': newHtml = '/play3.html'; break;
            }
            obj.href = postData.url(newHtml, {
                id: id,
                title: title,
                isHD:ishd,
                isLike: islike,
                filesize: filesize,
                url: url,
                time:time,
                createdate: createdate
            });
        }
        function edit(obj) {
            var id = $(obj).data('id');
            obj.href = '@Url.Action("Edit")?id=' + id;
        }

        $(function () {
            ajaxPager.pager.init();
            $('#selSort').val(localStorage.getItem('selSort') || 1);

            $('#selPlayer').change(function () {
                localStorage.setItem('selPlayer', $(this).val());
            });
            var pl = localStorage.getItem('selPlayer');
            if (pl) {
                $('#selPlayer').val(pl);
            }
            var baseurl = IndexForAjaxUrl + "?currentPage=0&&title1="
                + "&&title2="
                + "&&isLike=2"
                + "&&typeId="
                + "&&relatedID=@(Model.relatedID)";
            $('input[name=hipagebaseurl]').val(baseurl);
            ajaxPager.pager.gotopage(1, $("div.pagination-container"));
        });
        history.pushState(null, null, location.href);
        window.addEventListener('popstate', function (event) {
            if ($('#hicurrentPage').val() != '1') {
                history.pushState(null, null, location.href);
                $('span.btnprevious').click();
            }
        });
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw-cache.js');
        }
    </script>
</head>
<body>
    <div id="div-body-content" class="container body-content">
        <div>
            <div class="panel panel-info">
                <div class="panel-heading" id="TelescopicHead" data-toggle="collapse" data-target="#SalesOrderSearchArea">
                    <h3 class="panel-title" id="displaySearchConfig">
                        Related @Model.relatedID
                    </h3>
                </div>
                <div id="SalesOrderSearchArea" class="panel-body in searchArea">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("", "player")
                            <select id="selPlayer" class="form-control">
                                <option value="1">ChimeeJS</option>
                                <option value="2">VideoJS</option>
                                @*<option value="3">XGPlayer</option>*@
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="SalesOrderResult">
            </div>
        </div>
    </div>
</body>
</html>
