@{
    ViewData["Title"] = "Home Page";
}
@model SearchViewModel
<link href="~/css/pager.css" rel="stylesheet" />
<link href="~/css/font-awesome.css" rel="stylesheet" />
<script src="~/js/jquery-1.10.2.js"></script>
<style>
    body{
        padding-top:10px;
    }
</style>
<form>
    <div class="panel panel-info">
        <div class="panel-heading" id="TelescopicHead" data-toggle="collapse" data-target="#SalesOrderSearchArea">
            <h3 class="panel-title" id="displaySearchConfig">
                Search Area
            </h3>
        </div>
        <div id="SalesOrderSearchArea" data-enter-to-search="#btnSubmitSalesOrderSearch" class="panel-body in searchArea" >
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.title1)
                    @Html.EditorFor(m => m.title1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.title2)
                    @Html.EditorFor(m => m.title2, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.isLike)
                    <select id="isLike" name="isLike" class="form-control">
                        @Html.Raw("<option " + (Model.isLike == 2 ? "selected=\"selected\"" : "") + "  value='2'>ALL</option>");
                        @Html.Raw("<option " + (Model.isLike == 1 ? "selected=\"selected\"" : "") + "  value='1'>Like</option>");
                        @Html.Raw("<option " + (Model.isLike == 0 ? "selected=\"selected\"" : "") + "  value='0'>No Like</option>");
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12 form-button-Lines">
                    <button id="btnSubmitSalesOrderSearch" class="btn btn-info CommonBtn"><i class='fa fa-search'></i> Search</button>
                    <input id="btnClear" type="button" class="btn btn-default CommonBtn" value="Clear All" />
                </div>
            </div>
        </div>
    </div>
    <div id="SalesOrderResult">
        @Html.Partial("_List", Model)
    </div>
    <script>
        function play(obj,id) {
            var xxurl = window.location.href;
            if (xxurl.indexOf('/',10) > 0) {
                xxurl = xxurl.substr(0, xxurl.indexOf('/', 10));
            }
            if (xxurl.indexOf('?') > 0) {
                xxurl = xxurl.substr(0, xxurl.indexOf('?'));
            }
            if (xxurl.indexOf('#') > 0) {
                xxurl = xxurl.substr(0, xxurl.indexOf('#'));
            }
            var url = '@Url.Action("play")?id=' + id + '&url=' + encodeURIComponent(xxurl);
            obj.href = url;
        }
        $(function () {
            $('#btnClear').click(function(){
                $('#title1,#title2').val('');
                $('#isLike').val(2);
            });
        });
    </script>
</form>