@using DL91;
@{
    ViewData["Title"] = "Home Page";
    var TypeLst = ViewBag.TypeLst as List<DBType>;
}
@model DL91.Models.SearchViewModel
<style>
    body {
        padding-top: 10px;
    }
</style>
<script>
    var GetImgURL = '@Url.Action("GetImg", "Home")';
    var IndexForAjaxUrl = '@Url.Action("IndexForAjax", "Home")';
</script>
<script src="~/js/IndexDB.js" asp-append-version="true"></script>
<script src="~/js/cacheM3u8.js" asp-append-version="true"></script>
<div>
    <div class="panel panel-info">
        <div class="panel-heading" id="TelescopicHead" data-toggle="collapse" data-target="#SalesOrderSearchArea">
            <h3 class="panel-title" id="displaySearchConfig">
                Search Area <span id="displayDowntask"></span>
            </h3>
        </div>
        <div id="SalesOrderSearchArea" class="panel-body in searchArea">
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("", "Type")
                    <select id="typeId" name="typeId" class="form-control">
                        @foreach (var item in TypeLst)
                        {
                            @Html.Raw("<option " + (Model.typeId == item.id ? "selected=\"selected\"" : "") + "  value='" + item.id + "'>" + item.name + "</option>");
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    @Html.Label("", "Contains")
                    @Html.EditorFor(m => m.title1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.Label("", "Not Contains")
                    @Html.EditorFor(m => m.title2, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.Label("", "Is Like")
                    <select id="isLike" name="isLike" class="form-control">
                        @Html.Raw("<option " + (Model.isLike == 2 ? "selected=\"selected\"" : "") + "  value='2'>ALL</option>");
                        @Html.Raw("<option " + (Model.isLike == 1 ? "selected=\"selected\"" : "") + "  value='1'>Like</option>");
                        @Html.Raw("<option " + (Model.isLike == 0 ? "selected=\"selected\"" : "") + "  value='0'>No Like</option>");
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12 form-button-Lines">
                    <button id="btnSubmitSalesOrderSearch" class="btn btn-info CommonBtn"><i class='fa fa-search'></i> Search</button>
                    <input id="btnClear" type="button" class="btn btn-default CommonBtn" value="Clear All" />
                    <input id="btnSync" type="button" class="btn btn-default CommonBtn" value="Sync Now" />
                </div>
            </div>
        </div>
    </div>
    <div id="SalesOrderResult">

    </div>
</div>
<script src="~/js/ajaxpager/ajaxpager.js" asp-append-version="true"></script>
<script>
    loadStyle(['@Url.Content("~/css/pager.css")', '@Url.Content("~/css/font-awesome.css")']);
    var playHtml = '';
    function onPageLoad() {
        window.scrollTo(0, 0);
    }
    function play(obj) {
        var xxurl = window.location.href;
        if (xxurl.indexOf('/', 10) > 0) {
            xxurl = xxurl.substr(0, xxurl.indexOf('/', 10));
        }
        if (xxurl.indexOf('?') > 0) {
            xxurl = xxurl.substr(0, xxurl.indexOf('?'));
        }
        if (xxurl.indexOf('#') > 0) {
            xxurl = xxurl.substr(0, xxurl.indexOf('#'));
        }


        var id = $(obj).data('id');
        var title = $(obj).data('title');
        var filesize = $(obj).data('filesize');
        var ishd = $(obj).data('ishd');
        var islike = $(obj).data('islike');
        var url = $(obj).data('url');

        var newHtml = playHtml.replace('{id}', id)
            .replace('{title}', title)
            .replace('{filesize}', filesize)
            .replace('{isHD}', ishd)
            .replace('{isLike}', islike)
            .replace('{url}', url)
            .replace(/{site}/g, xxurl);

        var blob = new Blob([newHtml], { type: 'text/html' })
        obj.href = URL.createObjectURL(blob);
    }
    $(function () {
        $.ajax({
            type: 'Get',
            url: '../play.html?t=1',
            dataType: 'html',
            success: function (data) {
                playHtml = data;
            }
        });

        $('#btnClear').click(function(){
            $('#title1,#title2').val('');
            $('#isLike').val(2);
        });
        $('#btnSync').click(function () {
            $.post('@Url.Action("sync")');
            alert('OK');
        });
        m3u8.initDownload(function (taskCount) {
            $('#displayDowntask').html('('+taskCount+')');
        });
        $('#btnSubmitSalesOrderSearch').click(function () {
            var baseurl = IndexForAjaxUrl + "?currentPage=0&&title1=" + ($('#title1').val() || '') + "&&title2=" + ($('#title2').val() || '') + "&&isLike=" + $('#isLike').val() + "&&typeId=" + $('#typeId').val();
            $('input[name=hipagebaseurl]').val(baseurl);
            ajaxPager.pager.gotopage(1, $("div.pagination-container"));
            return false;
        });
        $('#btnSubmitSalesOrderSearch').click();
    });
    history.pushState(null, null, location.href);
    window.addEventListener('popstate', function (event) {
        if ($('#hicurrentPage').val() != '1') {
            history.pushState(null, null, location.href);
            $('span.btnprevious').click();
        }
    });
</script>