@{
    Layout = null;
    var urls = ViewBag.urls as List<string>;
    var fileSize = ViewBag.fileSize as string;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link href="~/js/videojs/video-js.css" rel="stylesheet" />
    <script src="~/js/videojs/video.js"></script>
    <script src="~/js/videojs/videojs-contrib-hls.js"></script>
    <script src="~/js/jquery-1.10.2.js"></script>
</head>
<body>
    <style>
        .video-js .vjs-tech {
            position: relative !important;
        }
    </style>
    <div>
        <input type="checkbox" id="isLike" @(ViewBag.isLike == 1 ? "checked=\"checked\"" : "") />
        Like
    </div>

    @for (int i = 0; i < urls.Count; i++)
    {
    <div>
        @if (urls.Count > 1)
        {
            <input type="radio" name="urlx" @(i==0?"checked=\"checked\"":"") value="@i" />
        }
        @urls[i]
        @if (i == urls.Count - 1 && !string.IsNullOrEmpty(fileSize))
        {
            <span>&nbsp;&nbsp;&nbsp;&nbsp; @fileSize</span>
        }
    </div>
    }
    <div>
        @ViewBag.title
    </div>
    <div>
        <video id="myVideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" data-setup='{}'
               style='width: auto;height: auto'>
            <source id="source" src="@urls[0]" type="application/x-mpegURL" />
        </video>
    </div>
</body>

<script>
    $(function () {
        var urls = [];
    @for (int i = 0; i < urls.Count; i++)
    {
    <text>
        urls.push('@urls[i]');
    </text>
    }

        $('#isLike').change(function () {
            $.post('@Url.Action("like")?id=' + @(ViewBag.id) +'&&isLike=' + (this.checked ? 1 : 0));
        });
        $('[name=urlx]').change(function () {
            var val = parseInt($('[name=urlx]:checked').val());
            changeVideo(urls[val]);
        });

        var myVideo = videojs('myVideo', {
            bigPlayButton: true,
            textTrackDisplay: false,
            posterImage: false,
            errorDisplay: false,
        })
        myVideo.play()
        var changeVideo = function (vdoSrc) {
            if (/\.m3u8$/.test(vdoSrc)) {
                myVideo.src({
                    src: vdoSrc,
                    type: 'application/x-mpegURL'
                })
            } else {
                myVideo.src(vdoSrc)
            }
            myVideo.load();
            myVideo.play();
        }
    });
</script>


