@{
    Layout = null;
    var url = ViewBag.url as string;
    var hdurl = ViewBag.url as string;
    var localurl = ViewBag.localurl as string;
    var fileSize = ViewBag.fileSize as string;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content ="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <link href="~/js/videojs/video-js.css" rel="stylesheet" />
    <script src="~/js/videojs/video.js"></script>
    <script src="~/js/videojs/videojs-landscape-fullscreen.min.js"></script>
    <script src="~/js/jquery-1.10.2.js"></script>
</head>
<body>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        html, body {
            width: 100%;
        }

            body > div {
                width: 100%;
                margin-bottom: 5px;
            }

        div.url {
            width: 100%;
            white-space: normal;
            word-break: break-all;
        }

        .video-js .vjs-tech {
            position: relative !important;
        }
    </style>
    <div>
        &nbsp;&nbsp;
        <input type="checkbox" id="isLike" @(ViewBag.isLike == 1 ? "checked=\"checked\"" : "") />
        Like
    </div>
    <div>
        &nbsp;&nbsp;
        <select id="domain">
            <option value="https://cdn.163cdn.net">163cdn</option>
            <option value="https://cdn163.lzhsb.cc">Proxy</option>
            @if (localurl != null)
            {
            <option data-local="1" value="@Html.Raw(localurl)">Local(@fileSize)</option>
            }
        </select>
        &nbsp;
        <select id="isHD">
            @if (hdurl != null)
            {
                <option value="1">HD</option>
            }
            <option value="0">No HD</option>
        </select>
    </div>
    <div>
        @ViewBag.title
    </div>
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input id="btnPlay" type="button" name="name" value="play" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="btnCopy" type="button" name="name" value="copy url" />
    </div>
    <div>
        <video id="myVideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" data-setup='{}'
               style='width: 100%;height: auto'>
            <source id="source" src="@("https://cdn.163cdn.net"+url)" type="application/x-mpegURL" />
        </video>
    </div>


    <script>
    $(function () {
        $('#isLike').change(function () {
            $.post('@Url.Action("like")?id=' + @(ViewBag.id) +'&&isLike=' + (this.checked ? 1 : 0));
        });
        function getUrl() {
            var $op = $('#domain option:selected');
            if ($op.data('local') == 1) {
                return $op.val();
            }
            return $op.val() + $('#isHD').val() == 1 ? '@Html.Raw(hdurl)' : '@Html.Raw(url)';
        }
        function copy(text) {
            const el = document.createElement('input');
            el.setAttribute('value', text);
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        }
        $('#btnCopy').click(function () {
            copy(getUrl());
        })
        $('#btnPlay').click(function () {
            changeVideo(getUrl());
        })
        var myVideo = videojs('myVideo', {
            bigPlayButton: true,
            textTrackDisplay: true,
            posterImage: false,
            errorDisplay: false,
            fill: true
        });
        myVideo.on('loadedmetadata', function () {
            if (myVideo.videoWidth() > myVideo.videoHeight()) {
                myVideo.landscapeFullscreen({
                    fullscreen: {
                        enterOnRotate: true,
                        exitOnRotate: true,
                        alwaysInLandscapeMode: true,
                        iOS: true
                    }
                });
            }
        });
        //myVideo.play()
        var changeVideo = function (vdoSrc) {
            if (/\.m3u8$/.test(vdoSrc)) {
                myVideo.src({
                    src: vdoSrc,
                    type: 'application/x-mpegURL'
                })
            } else {
                myVideo.src(vdoSrc)
            }
            myVideo.load();
            myVideo.play();
        }
    });
    </script>

</body>
</html>