@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link href="~/js/videojs/video-js.css" rel="stylesheet" />
    <script src="~/js/videojs/video.js"></script>
    <script src="~/js/videojs/videojs-contrib-hls.js"></script>
    <script src="~/js/jquery-1.10.2.js"></script>
</head>
<body>
    <style>
        .video-js .vjs-tech {
            position: relative !important;
        }
    </style>
    <div>
        <input type="checkbox" id="isLike" @(ViewBag.isLike==1?"checked=\"checked\"":"") />
        Like
    </div>
    <div>
        @ViewBag.url
    </div>
    <div>
        @ViewBag.title
    </div>
    <div>
        <video id="myVideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" data-setup='{}'
               style='width: auto;height: auto'>
            <source id="source" src="@ViewBag.url" type="application/x-mpegURL">
            </source>
        </video>
    </div>
</body>

<script>
    $(function () {
        $('#isLike').change(function () {
            $.post('@Url.Action("like")?id=' + @(ViewBag.id) +'&&isLike=' + (this.checked ? 1 : 0));
        });


        var myVideo = videojs('myVideo', {
            bigPlayButton: true,
            textTrackDisplay: false,
            posterImage: false,
            errorDisplay: false,
        })
        myVideo.play()
        var changeVideo = function (vdoSrc) {
            if (/\.m3u8$/.test(vdoSrc)) {
                myVideo.src({
                    src: vdoSrc,
                    type: 'application/x-mpegURL'
                })
            } else {
                myVideo.src(vdoSrc)
            }
            myVideo.load();
            myVideo.play();
        }
    });
</script>


