@{
    Layout = null;
    var urls = ViewBag.urls as List<string>;
    var fileSize = ViewBag.fileSize as string;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content ="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <link href="~/js/videojs/video-js.css" rel="stylesheet" />
    <script src="~/js/videojs/video.js"></script>
    <script src="~/js/videojs/videojs-landscape-fullscreen.min.js"></script>
    <script src="~/js/jquery-1.10.2.js"></script>
</head>
<body>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        html, body {
            width: 100%;
        }

            body > div {
                width: 100%;
                margin-bottom: 5px;
            }

        div.url {
            width: 100%;
            white-space: normal;
            word-break: break-all;
        }

        .video-js .vjs-tech {
            position: relative !important;
        }
    </style>
    <div>
        <input type="checkbox" id="isLike" @(ViewBag.isLike == 1 ? "checked=\"checked\"" : "") />
        Like
    </div>

    @for (int i = 0; i < urls.Count; i++)
    {
        <div class="url">
            @if (urls.Count > 1)
            {
                <input type="radio" name="urlx" @(i == 0 ? "checked=\"checked\"" : "") value="@i" />
            }
            @urls[i]
            @if (i == urls.Count - 1 && !string.IsNullOrEmpty(fileSize))
            {
                <span>&nbsp;&nbsp;&nbsp;&nbsp; @fileSize</span>
            }
        </div>
    }
    <div>
        @ViewBag.title
    </div>
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input id="btnPlay" type="button" name="name" value="play" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="openInNewTab" type="button" name="name" value="play on new Tab" />
    </div>
    <div>
        <video id="myVideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" data-setup='{}'
               style='width: 100%;height: auto'>
            <source id="source" src="@urls[0]" type="application/x-mpegURL" />
        </video>
    </div>


    <script>
    $(function () {
        var urls = [];
    @for (int i = 0; i < urls.Count; i++)
    {
    <text>
        urls.push('@urls[i]');
    </text>
    }

        $('#isLike').change(function () {
            $.post('@Url.Action("like")?id=' + @(ViewBag.id) +'&&isLike=' + (this.checked ? 1 : 0));
        });
        $('#openInNewTab').click(function () {
            var url = '';
            if ($('[name=urlx]:checked').length > 0) {
                var val = parseInt($('[name=urlx]:checked').val());
                url = urls[val];
            }
            else {
                url = urls[0];
            }
            window.open(url, "_blank");
        })
        $('#btnPlay').click(function () {
            var url = '';
            if ($('[name=urlx]:checked').length > 0) {
                var val = parseInt($('[name=urlx]:checked').val());
                url = urls[val];
            }
            else {
                url = urls[0];
            }
            changeVideo(url);
        })
        var myVideo = videojs('myVideo', {
            bigPlayButton: true,
            textTrackDisplay: true,
            posterImage: false,
            errorDisplay: false,
            fill: true
        });
        myVideo.landscapeFullscreen({
            fullscreen: {
                enterOnRotate: true,
                exitOnRotate: true,
                alwaysInLandscapeMode: true,
                iOS: true
            }
        });
        //myVideo.play()
        var changeVideo = function (vdoSrc) {
            if (/\.m3u8$/.test(vdoSrc)) {
                myVideo.src({
                    src: vdoSrc,
                    type: 'application/x-mpegURL'
                })
            } else {
                myVideo.src(vdoSrc)
            }
            myVideo.load();
            myVideo.play();
        }
    });
    </script>

</body>
</html>